@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-mkBlue;
    &:visited {
      @apply text-mkBlue-300;
    }
  }

  p {
    @apply text-mkDarkGray;
  }
}

@tailwind components;
@tailwind utilities;

@import url('./widget.scss');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  @apply mt-4 mb-2;
}

p {
  font-family: 'Work Sans', sans-serif;
  @apply text-base box-border text-mkDarkGray;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  @apply bg-mkGray;
}

blockquote p {
  @apply font-bold;
}

.container {
  @apply container w-full md:max-w-3xl mx-auto pt-12 pb-28;
}
